.box{
    border-width: thin;
    border-style: ridge;
    border-radius: 3px;  
}
.gray{
    color: gray;
}
.ion-text-small{
    font-size: 12px;
}
.ion-text-medium{
    font-size: 14px;
}

.color-highlight{
    color: #545FC2 !important;
}