
<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Login In/Register
			<ion-icon class="ion-float-right" name="close" (click)="dismiss()"></ion-icon>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-row>
	<ion-col>
		<ion-text class="ion-padding-start ion-text-medium ion-text-wrap gray"> please enter your email adress to recieve <b class="ion-text-small" style="color: black;">One Time
			Password</b></ion-text>
	</ion-col>
</ion-row>
	
	<ion-row class="ion-padding-vertical">
		<ion-col>
			<form class="ion-margin" [formGroup]="form" (ngSubmit)="login()">
				<ion-item class="box">
					<ion-label class="color-highlight" position="floating">Email Address</ion-label>
					<ion-input type="email" formControlName="email" autofocus="true" inputmode="email"></ion-input>
				  </ion-item>
			</form>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-item no-lines detail="false">
				<ion-checkbox class="ion-text-wrap"></ion-checkbox>
				<ion-text class="ion-padding-start ion-text-wrap ion-text-small gray">By continuing,I agree to the <b class="color-highlight">Terms of Use</b> & <b class="color-highlight">Privacy Policy</b>
					 </ion-text>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col>
			<ion-button class="color-highlight" filled="outline" expand="block">
				<ion-text style="color: white;">Continue</ion-text></ion-button>
		</ion-col>
	</ion-row>
</ion-content>